@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-text: var(--font-body);
  --font-serif: var(--font-serif);
  --font-heading: var(--font-body);
  --font-monospace: var(--font-mono);
  --font-brand: var(--font-brand);
}

body {
  font-family: Barlow, Arial, Helvetica, sans-serif;
}
